## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Khromtau,KZ,24.19,few clouds,50.2503,58.4347,Придорожный сервис Кең Дала
1,4,Saint-Philippe,RE,19.77,few clouds,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
2,5,Berea,US,25.66,clear sky,41.3662,-81.8543,Comfort Inn Cleveland Airport
3,9,Luwuk,ID,24.35,broken clouds,-0.9516,122.7875,Hotel Santika Luwuk
4,10,Hithadhoo,MV,27.59,overcast clouds,-0.6000,73.0833,Scoop Guest House

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °C</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.

locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30, 30.1), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['Hotel Name'] == 'Shimoda Tokyu Hotel']
vacation_end = vacation_start
vacation_stop1 = vacation_df.loc[vacation_df['Hotel Name'] == 'Katsuura Hotel Mikazuki']
vacation_stop2 = vacation_df.loc[vacation_df['Hotel Name'] == 'Hotel Sunrise Choshi'] 
vacation_stop3 = vacation_df.loc[vacation_df['Hotel Name'] == 'Ofunato Hot Spring']

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = start
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], 
                                            travel_mode = 'DRIVING', optimize_waypoints = True, 
                                            show_markers = True, stroke_color = 'blue', stroke_weight = 3)
fig.add_layer(vacation_itinerary)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,320,Shimoda,JP,26.17,overcast clouds,34.6667,138.9500,Shimoda Tokyu Hotel
1,320,Shimoda,JP,26.17,overcast clouds,34.6667,138.9500,Shimoda Tokyu Hotel
2,15,Katsuura,JP,27.33,scattered clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
3,417,Hasaki,JP,26.27,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
4,490,Ofunato,JP,24.76,overcast clouds,39.0717,141.7167,Ofunato Hot Spring

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °C</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30, 30.1), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))